<html>

<head>
    {% block head %}
    <title>GoGym and just do it!</title>
    {% endblock head %}
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <header>
        <div class="links">
            <a href="/">Instructors</a>
            <a href="/portfolio">Members</a>
        </div>
    </header>

    {% block content %}
    {% endblock %}
</body>

</html>