<html>

<head>
    {% block head %}
    <title>GoGym and Just do it!</title>
    {% endblock head %}
    <link rel="stylesheet" href="../public/styles.css">
</head>

<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>
        </div>
    </header>
</body>

</html>