@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto';
    background-color: #7159c1;
}

header {
    background-color: white;
    width: 100%;
    padding: 32px;
    text-align: center;
}

.links {
    font-size: 22px;
}

.links a {
    margin-left: 32px;
}